<div class="container">
    <% if (oneNews.mainTitle) { %>
        <div class="card border-dark mb-5">            

            <!-- Jeśli istnieje zdjęcie to je pokaż -->
            <% if (oneNews.image) { %>
                <!-- dzięki fluid nie rozciągnie sie -->
                <img src="/uploads/<%- oneNews.image %>" class="card-img-top" alt="zdjecie wiadomosci">        
            <% } %>
            
            <div class="card-body">
                <h1><%= oneNews.mainTitle %></h1> <!-- Użycie zmiennej przekazanej w kontrolerze -->
                <p><b>Autor:</b> <%= oneNews.author.nick %></p>
                <p><%= oneNews.text %></p>
                <br>

                <h3 class="mt-5">Komentarze:</h3> 
                <!-- Sprawdzam czy są komentarze dla danej aktualności -->
                <% if (!oneNews.comments.length == 0) { %>
                    <!-- Wylistowanie komentarzy -->
                    <!-- form jakby user chciał usunąć swój komentarz -->
                    <form method="GET">
                        <% oneNews.comments.forEach(comment => { %>   
                            <div class="card border-dark card-body mb-2">  
                                <p><b><%= comment.author %> : </b>
                                <br>           
                                <%= comment.text %></p>

                                <!-- Sprawdzm czy user jest zalogowany i jest autorem komentarza -->
                                <% if (user && comment.author == user.nick) { %>
                                    <!-- Przekazuje slug aktualnosci i id komentarza -->
                                    <a href="/zalogowany/wiadomosci/<%= oneNews.slug %>/<%= comment._id %>/usun-komentarz" 
                                        onclick="return confirm('Czy jesteś pewien?')"
                                        class="btn btn-danger position-absolute bottom-0 end-0 m-2">Usuń
                                    </a>
                                                                  
                                <% } %>  
                            </div>
                        <% }); %>
                    </form>
                <% } else { %>
                    <p>Brak komentarzy.</p>
                <% } %>                
            </div> 
        </div> 
        <!-- Sprawdzamy czy user jest zalogowany -->
        <% if (user) { %> 
            <div class="card border-dark card-body mb-5">
                <form method="POST" action="/zalogowany/wiadomosci/<%= oneNews.slug %>">
                    <div class="mb-3">
                        <label for="" class="form-label">Nowy komentarz:</label>
                        <textarea
                            name="text" 
                            cols="30" rows="10" 
                            class="form-control" required><%= form.text %></textarea>                        
                        <% if (errors?.text) { %>
                        <div class="invalid-feedback"><%= errors.text.message %></div>
                        <% } %>
                    </div>
                    <button class="btn btn-success">Skomentuj</button>
                </form>
            </div>
        <% } %>     
                
    <% } else { %>
        <h1>Nie ma takiej firmy!</h1>
    <% } %>       
</div>