<!-- Formularz można użyć na kilku stronach. Po co go edytować w każdym miejscu, wystarczy raz -->
<div class="container">
    <div class="form-auth card card-body bg-dark text-white text-center w-75">
    <!-- Aby zdjęcie mogło zostać przesłane musimy zmienić enctype, czyli form musi być wysłany w inny sposób -->
    <!-- Do tego potrzebujemy nowy middleware dla multipart/form-data, dodamy go tylko dla określonych stron w web.js -->
        <form method="POST" enctype="multipart/form-data">
            <!-- wyżej: action="" to link na który wysyłamy formularz, powinien być taki jak link formularza, jak usuniemy pole action      to wezmie domyslnie aktualny adres  -->
            <div class="mb-3">
                <label for="" class="form-label">Tytuł *</label>
                <!-- niżej: Dzięki value, po złym wypełnieniu pól, wartości z pól nie znikają -->
                <input 
                    type="text" 
                    name="mainTitle"
                    maxlength="40"
                    value="<%= form.mainTitle %>" 
                    class="form-control w-75 <%= errors?.mainTitle ? 'is-invalid' : '' %>" required>   
                <!-- sprawdzamy czy konkretny błąd tego pola istnieje, jeśli nie ma to wartość jest null i nie wchodzi do ifa -->
                <% if (errors?.mainTitle) { %>  
                    <div class="invalid-feedback"><%= errors.mainTitle.message %></div>    
                <% } %>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Slug/adres linku *</label>
                <!-- niżej: Dzięki value, po złym wypełnieniu pól, wartości z pól nie znikają -->
                <input 
                    type="text" 
                    name="slug"
                    maxlength="20"
                    value="<%= form.slug %>" 
                    class="form-control w-75 <%= errors?.slug ? 'is-invalid' : '' %>" required>   
                <!-- sprawdzamy czy konkretny błąd tego pola istnieje, jeśli nie ma to wartość jest null i nie wchodzi do ifa -->
                <% if (errors?.slug) { %>  
                    <div class="invalid-feedback"><%= errors.slug.message %></div>    
                <% } %>
            </div>

            <% if (form.image) { %>
                <div class="row">
                    <div class="col">
                        <img src="/uploads/<%- form.image %>" class="img-fluid w-75 mb-1" alt="zdjecie aktualnosci">
                        <br>
                        <a href="/zalogowany/wiadomosci/<%- form.slug %>/usun-zdjecie" class="btn btn-sm btn-danger mb-3">Usuń</a>
                    </div>
                </div>
            <% } %>
            <div class="mb-3">
                <label for="image" class="form-label">Zdjęcie</label>
                <input type="file" name="image" class="form-control w-75" id="image">
            </div>    

            <div class="mb-3">
                <label for="" class="form-label">Treść *</label>
                <textarea
                    name="text" 
                    cols="30" rows="10" 
                    class="form-control w-75" required><%= form.text %></textarea>            
                <% if (errors?.text) { %>
                <div class="invalid-feedback"><%= errors.text.message %></div>
                <% } %>
            </div>

            <button class="btn btn-success"><%- buttonText %></button>
        </form>

        <!-- powinno być " typeof errors !== 'undefined' ", ale mamy zmienną zdefiniowaną w view-variables -->
        <% if (errors) { %> 
            <div class="alert alert-danger mt-3 text-center">
                <!-- <ul>
                    <% for (const key in errors) { %>
                        <li><%= errors[key].message %></li>
                    <% } %>
                </ul> -->
                <!-- Możesz tak jak wyżej wyświetlić ponownie błędy napisane pod formularzem, ale skoro będą napisane czy konkretnym polu   to niżej napiszemy tylko informację -->
                Popraw dane!
            </div>
        <% } %>
    </div>
</div>