<div class="row">
    <div class="col">
        <!-- np: wyników 2 na 10 -->
        <p>Wyników <%= chats.length %> na <%= resultsCount %></p>
        <nav>
            <ul class="pagination">
                <% for (let i = 1; i <= pagesCount; i++) { %>
                    <li class="page-item <%- page == i ? 'active' : '' %>">
                        <!-- wszystkie dostepne parametry z data są dostępnie niżej: data set -->
                        <a class="page-link" data-page="<%- i %>" href="#">
                            <%- i %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>